<div
  width="100%"
  style="margin: 0; padding: 0 !important; background-color: #f1f1f1;"
>
  <center style="width: 100%; background-color: #f1f1f1;">
    <div
      style="
        display: none;
        font-size: 1px;
        max-height: 0px;
        max-width: 0px;
        opacity: 0;
        overflow: hidden;
        font-family: sans-serif;
      "
    >
      &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr />&nbsp;&zwnj;&nbsp;&zwnj;
    </div>
    <div style="max-width: 600px; margin: 0 auto;">
      <table
        align="center"
        cellspacing="0"
        cellpadding="0"
        border="0"
        width="100%"
        style="margin: auto;"
      >
        <tbody style="background: #ffffff;">
          <tr style="background: #ffffff;">
            <td valign="top" style="padding: 1em 2.5em 0 2.5em;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr style="background: #ffffff;">
                    <td style="text-align: center; background: #ffffff;">
                      <h1>
                        <img
                          src="https://res.cloudinary.com/deeucfdkq/image/upload/v1597283709/logo/com_logo_color.png"
                          alt=""
                          style="
                            width: 200px;
                            max-width: 200px;
                            height: auto;
                            margin: auto;
                            display: block;
                          "
                        />
                      </h1>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="middle" style="padding: 1.5em 0 5px;">
              <img
                alt=""
                style="
                  width: 100px;
                  max-width: 200px;
                  height: auto;
                  margin: auto;
                  display: block;
                "
              />
            </td>
          </tr>
          <tr>
            <td
              valign="middle"
              style="
                padding: 2em 0 4em 0; /* padding:2em 0 4em 0; */
                position: relative;
                z-index: 0;
                background: #ffffff;
              "
            >
              <table>
                <tbody>
                  <tr>
                    <td
                      style="
                        color: rgba(0, 0, 0, 0.3);
                        padding: 0 2.5em;
                        text-align: justify;
                        padding: 0 2.5em;
                      "
                    >
                      <div style="padding: 0 2.5em; /* text-align:justify */">
                        <h3 style="font-size: 24px; font-weight: 300;">
                          Hi guest!
                        </h3>
                        <p
                          style="
                            /* padding: 0 2.5em; */
                            text-align: justify;
                            color: rgba(0, 0, 0, 0.3);
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                          "
                        >
                          To complete email verification, please press the
                          button below.
                        </p>
                        <p style="text-align: center;">
                          <a
                            href="<%= api %>"
                            
                            style="
                              border-radius: 5px;
                              background: #369afe;
                              color: #ffffff;
                              padding: 10px 15px;
                              display: inline-block;
                              text-decoration: none;
                              font-family: 'Lato', sans-serif;
                              font-weight: 400;
                              font-size: 20px;
                            "
                            >Verify your Email</a
                          >
                        </p>
                        <p
                          style="
                            text-align: initial;
                            color: rgba(0, 0, 0, 0.3);
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                          "
                        >
                          Or verify using this link:<a
                            href="<%= api %>"
                            style="
                              color: #369afe;
                              text-decoration: none;
                              text-align: justify;
                              font-family: 'Lato', sans-serif;
                              font-weight: 400;
                              font-size: 20px;
                            "
                            ></a>
                        </p>
                        <br />
                        <p
                          style="
                            color: rgba(0, 0, 0, 0.3);
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 20px; /* padding: 0 2.5em; */ /* text-align: justify; */
                          "
                        >
                          <i
                            >If you did not create an account using this
                            address, please ignore this email.</i
                          >
                        </p>
                      </div>
                      <div
                        style="
                          margin-top: 40px;
                          padding: 0 2.5em;
                          text-align: center;
                        "
                      >
                        <hr />
                        <h3 style="font-size: 24px; font-weight: 300;">
                          Need Help?
                        </h3>
                        <p
                          style="
                            margin-top: 40px;
                            padding: 0 2.5em;
                            text-align: center;
                            color: rgba(0, 0, 0, 0.3);
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                          "
                        >
                          Please send any feedback or bug reports
                        </p>
                        <p
                          style="
                            /* font-family: 'Lato', sans-serif; */ /* font-weight: 400; */ /* font-size: 20px; */
                            margin-top: 40px;
                            padding: 0 2.5em;
                            text-align: center;
                            color: rgba(0, 0, 0, 0.3);
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 20px;
                          "
                        >
                          to<a
                            style="
                              color: #369afe;
                              cursor: pointer;
                              margin-top: 40px; /* padding: 0 2.5em; */ /* text-align: center; */
                              font-family: 'Lato', sans-serif;
                              font-weight: 400;
                              font-size: 20px;
                            "
                            >[email - placeholder]</a
                          >
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
  <div class="yj6qo"></div>
  <div class="adL"></div>
</div>
